@use '@fontsource/noto-naskh-arabic';

:root {
	color: black;
}

body {
	--font-body: 'Noto Naskh Arabic', serif;
	font-family: var(--font-body);
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: white;
	background-size: 100vw 100vh;
}

sup {
	line-height: 0;
}
