@import '@fontsource/noto-naskh-arabic';

:root {
	--font-body: 'Noto Naskh Arabic', serif;
	font-family: var(--font-body);
	color: black;
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: white;
	background-size: 100vw 100vh;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.verse-note-button {
	--uno: px-3px border-none outline-none bg-white rounded-sm text-blue-500;

	&:hover {
		--uno: bg-gray-800 text-white cursor-pointer;
	}
	&:active {
		--uno: bg-gray-300 text-black;
	}
}
