@use '@fontsource-variable/noto-naskh-arabic';

:root {
	color: black;
	--font-body: 'Noto Naskh Arabic Variable', sans-serif;
	font-family: var(--font-body);
	--uno: antialiased;
}

body {
	font-family: var(--font-body);
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: white;
	background-size: 100vw 100vh;
}

sup {
	line-height: 0;
	white-space: nowrap;
}
